source/external/ffmpeg/bin/avcodec-62.dll filter=lfs diff=lfs merge=lfs -text
source/external/mpv/bin/libmpv-2.dll filter=lfs diff=lfs merge=lfs -text

# Exclude everything by default
* linguist-vendored

# C++
*.c   linguist-vendored=false
*.cc  linguist-vendored=false
*.cpp linguist-vendored=false
*.cxx linguist-vendored=false
*.h   linguist-vendored=false linguist-language=C++
*.hpp linguist-vendored=false
*.hh  linguist-vendored=false

# Python (if applicable)
*.py linguist-vendored=false
