/* Sidebar link hover */
.nav-list-link:hover {
  background-color: rgba(241, 236, 231, 0.5);  /* subtle highlight */
  color: #171717;                               /* optional hover text color */
}
.nav-list-link.active {
  background-color: #d4aa72;  /* selected page bg */
  color: #171717;             /* selected text */
  font-weight: 500;           /* optional emphasis */
}

/* Nested child links */
.nav-list-child-link {
  color: #846e51;
}

.nav-list-child-link:hover,
.nav-list-child-link.active {
  color: #d4aa72;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #e5ded5 0%, rgba(237, 232, 225, 0.8) 80%, rgba(212, 170, 115,0) 100%);
}