/* Sidebar link hover */
.nav-list-link:hover {
  background-color: rgba(212, 170, 114, 0.5);  /* subtle highlight */
  color: #58a6ff;                               /* optional hover text color */
}
.nav-list-link.active {
  background-color: #d4aa72;  /* selected page bg */
  color: #171717;             /* selected text */
  font-weight: 500;           /* optional emphasis */
}

/* Nested child links */
.nav-list-child-link {
  color: #846e51;
}

.nav-list-child-link:hover,
.nav-list-child-link.active {
  color: #d4aa72;
}