// Fluent Dark — Just the Docs

$body-background-color: #0e1116;
$sidebar-color: #161b22;

$body-text-color: #c9d1d9;
$body-heading-color: #e6edf3;

$link-color: #58a6ff;
$nav-child-link-color: #8b949e;

$border-color: #30363d;

$search-background-color: #0e1116;
$search-result-preview-color: #8b949e;

$code-background-color: #161b22;
$table-background-color: #0e1116;
$table-border-color: #30363d;

$btn-primary-color: #238636;

$callout-background-color: #0e1116;
$callout-border-color: #30363d;
