// Fluent Dark — Just the Docs

$body-background-color: #1f1f1f;
$sidebar-color: #1f1f1f;

$body-text-color: #dcdcdc;
$body-heading-color: #f0f0f0;

$link-color: #3794ff;
$nav-child-link-color: #3794ff;

$border-color: #3d3d3d;

$search-background-color: #141414;
$search-result-preview-color: #999999;

$code-background-color: #282828;
$table-background-color: #1f1f1f;
$table-border-color: #343434;

$btn-primary-color: #3b608a;

$callout-background-color: #101010;
$callout-border-color: #777777;
