[Desktop Entry]
Type=Application
Name=QCView
GenericName=Video Player
Comment=Professional video and image sequence player
Exec=qcview %F
Icon=app.qcview.QCView
Terminal=false
Categories=AudioVideo;Video;Player;Graphics;
MimeType=video/mp4;video/x-msvideo;video/x-matroska;video/quicktime;video/webm;video/x-flv;video/mpeg;video/ogg;video/x-ms-wmv;video/mp2t;image/x-exr;image/png;image/jpeg;image/tiff;image/x-dpx;
Keywords=video;player;review;color;grading;exr;dpx;prores;dnxhd;hdr;
StartupWMClass=app.qcview.QCView
